#main-content-draw {
    height: 700px;
}

#content-draw {
    padding-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.56rem;
    counter-reset: imgNumber;
}

article div[id='main-draw'] {
    display: block;
    margin-bottom: 1%;
    height: 73.6%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1%;
    padding-right: 2.5%;
    padding-top: 0%;
}


.imgBox {
    position: relative;
    height: 11.1rem;
}


.imgBox img {
    border: 0.12rem solid white;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imgBox::after {
    content: counter(imgNumber);
    counter-increment: imgNumber;
    position: absolute;
    bottom: 0;
    left: 50%;
    /* 相对自身左移50% */
    transform: translateX(-50%);
    background: rgb(88, 88, 88);
    border-radius: 15%;
    color: white;
    padding: 0.1rem 0.25rem;
    font-size: 0.778rem;
}