#content-draw {
    padding-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    counter-reset: imgNumber;
}

form {
    display: inline;
}

#to-comment {
    width: 65%;
    height: 10%;
    border: solid grey 2px;
    border-radius: 0.2cm;
    overflow-y: auto;
    margin-top: 0.5%;
    padding-top: 0;
    padding-left: 0.5%;
}

#to-comment:focus {
    border: solid rgb(255, 255, 255) 2px;
    outline: none;
}


article div[id='main-content-draw'] {
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 72%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1%;
    padding-right: 2.5%;
    padding-top: 0%;
}

#handout {
    color: rgba(8, 189, 255, 0.5);
    border-color: white;
}

@keyframes shake {

    0%,
    100% {
        transform: rotate(-15deg) translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: rotate(-15deg) translateX(-5px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: rotate(-15deg) translateX(5px);
    }
}

#logo2 {
    display: inline-block;
    margin-left: 5vw;
    font-size: 38px;
    font-weight: 520;

    background: url(../../assets/image/emmm.jpg) no-repeat center;
    background-size: 300% 675%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: multiply;


    transform: rotate(-15deg);
    transform-origin: center;

    transition: transform 1s;
}

#logo2:hover {
    animation: shake 0.3s infinite;
}


.imgBox {
    position: relative;
    height: 200px;
}


.imgBox img {
    border: 2px solid white;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imgBox::after {
    content: counter(imgNumber);
    counter-increment: imgNumber;
    position: absolute;
    bottom: 0px;
    left: 50%;
    /* 相对自身左移50% */
    transform: translateX(-50%);
    background: rgb(88, 88, 88);
    border-radius: 15%;
    color: white;
    padding: 2px 5px;
    font-size: 14px;
}