#visible {
    margin: 50px 0 0 50px;
    display: grid;
    grid-template-columns: 4fr 5.2fr;
    grid-gap: 0px;
}

#songInfo {
    margin: 50px 0 0 75px;
}

#recordPic {
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

#songInfo div {
    color: white;
    width: 350px;
    margin: 10px 0 10px 0;
    text-align: center;
}

#main-content-audio {
    width: 1150px;
    height: 600px;
    background-image: var(--background-image-url);
    background-size: 300%;
    background-position: center;
    border-radius: 10px;
}