#handout {
    color: rgba(8, 189, 255, 0.5);
    border-color: white;
}

form {
    display: inline;
}

#to-comment {
    width: 65%;
    height: 10%;
    border: solid grey 0.12rem;
    border-radius: 0.4rem;
    overflow-y: auto;
    margin-top: 0.5%;
    padding-top: 0;
    padding-left: 0.5%;
}

#to-comment:focus {
    border: solid rgb(255, 255, 255) 0.12rem;
    outline: none;
}



@keyframes shake {

    0%,
    100% {
        transform: rotate(-15deg) translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: rotate(-15deg) translateX(-5px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: rotate(-15deg) translateX(5px);
    }
}

/* @media (max-width:1314px) {
    form+#logo2 {
        display: none;
    }
}

@media (max-height:720px) {
    form+#logo2 {
        display: none;
    }
} */

#logo2 {
    display: inline-block;
    margin-left: 80px;
    font-size: 2.11rem;
    font-weight: 520;

    background: url(../../../assets/image/emmm.jpg) no-repeat center;
    background-size: 300% 675%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: multiply;


    transform: rotate(-15deg);
    transform-origin: center;

    transition: transform 1s;
}

#logo2:hover {
    animation: shake 0.3s infinite;
}