#nav-content {
    display: flex;
    flex-wrap: nowrap;
    width: 1600px;
}


nav {
    background-color: rgba(244, 202, 231, 0.5);
}

ul {
    list-style-type: none;
}

header {
    width: 1300px;
}

nav {
    width: 1250px;
    height: 72px;
    margin-top: 30px;
    margin-bottom: 35px;
    border-radius: 1.41rem;
}

nav ul {
    display: flex;
    padding-top: 0.5%;
    flex-direction: row;
}

nav li {
    text-align: center;
    flex: 1;
    padding-top: 3px;
}

nav button {
    font-size: 1.3rem;
    padding: 3% 6% 3% 6%;
    border: none;
    background-color: rgba(244, 202, 231, 0);
    text-decoration: none;
    color: black;
}


nav button:hover {
    background-color: rgba(201, 255, 255, 0.61);
    padding: 3% 6% 3% 6%;
    border-radius: 1.61rem;
}

#logo {
    font-size: 40px;
    width: 310px;
    margin: 35px 124px 40px 75px;

    background: url(../../../assets/image/emmm.jpg) no-repeat center;
    background-size: 300% 675%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: multiply;
}

.active {
    color: rgb(67, 168, 222);
}