main {
    display: flex;
    flex-wrap: nowrap;
    width: 1620px;
}

article {
    background-color: rgba(244, 202, 231, 0.5);
}

article {
    display: inline-block;
    width: 1340px;
    height: 700px;
    margin-left: 20px;
    vertical-align: top;
    border: 0.15rem dashed white;
    border-radius: 4%;
    padding-left: 3%;
    padding-right: 3%;

}