main {
    display: flex;
    flex-wrap: nowrap;
    width: 1500px;
}

article {
    background-color: rgba(244, 202, 231, 0.5);
}

article {
    display: inline-block;
    width: 1080px;
    height: 650px;
    margin-left: 18px;
    vertical-align: top;
    border: 0.15rem dashed white;
    border-radius: 3.5%;
    padding-left: 3%;
    padding-right: 1.5%;

}