main {
    display: block;
}

article {
    background-color: rgba(244, 202, 231, 0.5);
}

article {
    display: inline-block;
    width: 70vw;
    height: 75vh;
    margin-left: 1vw;
    vertical-align: top;
    border: 0.15rem dashed white;
    border-radius: 3.5%;
    padding-left: 3%;
    padding-right: 1.5%;

}