#main-content-lyrics {
    margin: 100px 0 0 0;
    height: 340px;
    width: 500px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    color: white;
}


#main-content-lyrics::-webkit-scrollbar {
    display: none;
}

.line {
    text-align: center;
    cursor: pointer;
}