#overlay {
    position: absolute;
    top: 25vh;
    right: 8vw;
    width: 250px;
    height: 220px;
    background-color: rgb(255, 255, 220);
    border: 3px solid rgb(255, 220, 187);
    border-radius: 0.3cm;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#month {
    display: flex;
    justify-content: center;
    margin: -15px 0 10px 0;
}

.monthConvert {
    margin-top: 15px;
    height: 30px;
    border: none;
    color: orange;
    background-color: rgb(255, 255, 220);
    border-radius: 0.3cm;
}

#monthDisplay {
    transform: translateY(40%);
    width: 100px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

#daysDisplay {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0;
    overflow-y: auto;
    height: 140px;
}

.everyday {
    color: grey;
    background-color: rgb(255, 255, 220);
    border: none;
}

.haveagoodday {
    color: black;
    background-color: rgb(255, 255, 220);
    border: none;
}