#overlay {
    position: absolute;
    top: 209px;
    left: 1135px;
    width: 14rem;
    height: 12.2rem;
    background-color: rgb(255, 255, 220);
    border: 0.17rem solid rgb(255, 220, 187);
    border-radius: 0.6rem;
    box-shadow: 0 0.22rem 0.66rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#month {
    display: flex;
    justify-content: center;
    margin: -0.83rem 0 0.5rem 0;
}

.monthConvert {
    margin-top: 0.83rem;
    height: 1.66rem;
    border: none;
    color: orange;
    background-color: rgb(255, 255, 220);
    border-radius: 0.5rem;
}

#monthDisplay {
    transform: translateY(40%);
    width: 5.56rem;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

#daysDisplay {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0;
    overflow-y: auto;
    height: 7.78rem;
}

.everyday {
    color: grey;
    background-color: rgb(255, 255, 220);
    border: none;
}

.haveagoodday {
    color: black;
    background-color: rgb(255, 255, 220);
    border: none;
}